In [2]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_validate

from sklearn.tree import DecisionTreeClassifier

import sklearn.metrics as metrics
from sklearn.model_selection import learning_curve

In [8]:
data = pd.read_csv('./data/weatherAUS.csv.zip')

In [9]:
data.head()

         Date Location  MinTemp  ...  Temp3pm  RainToday  RainTomorrow
0  2008-12-01   Albury     13.4  ...     21.8         No            No
1  2008-12-02   Albury      7.4  ...     24.3         No            No
2  2008-12-03   Albury     12.9  ...     23.2         No            No
3  2008-12-04   Albury      9.2  ...     26.5         No            No
4  2008-12-05   Albury     17.5  ...     29.7         No            No

[5 rows x 23 columns]

In [10]:
columnas_descartables = [
    'Date',
    'Location',
    'Cloud9am',
    'Cloud3pm',
    'Evaporation',
    'Sunshine',
    'WindGustDir',
    'WindDir9am',
    'WindDir3pm',
    'RainToday'
    ]
data = data.drop(columns=columnas_descartables)
data = data.dropna()

In [11]:
data = data.drop(columns=['Temp3pm', 'Pressure3pm'])

In [12]:
data['RainTomorrow'] = data['RainTomorrow'].map({'No': 0, 'Yes': 1})

In [16]:
columnas_entrenamiento = ['MaxTemp', 'Humidity3pm']
X = data[columnas_entrenamiento]
y = data['RainTomorrow']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42, stratify=y)

In [14]:
from sklearn.tree import DecisionTreeClassifier

In [17]:
dt_model = DecisionTreeClassifier(random_state=42)
dt_model.fit(X_train, y_train)
y_pred_dt = dt_model.predict(X_test)

In [18]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [19]:
accuracy_score(y_test, y_pred_dt)

0.8053627672324888

In [20]:
classification_report(y_test, y_pred_dt)

'              precision    recall  f1-score   support\n\n           0       0.83      0.94      0.88     28021\n           1       0.60      0.34      0.43      7856\n\n    accuracy                           0.81     35877\n   macro avg       0.72      0.64      0.66     35877\nweighted avg       0.78      0.81      0.78     35877\n'

In [21]:
confusion_matrix(y_test, y_pred_dt)

array([[26228,  1793],
       [ 5190,  2666]])

In [24]:
from xgboost import XGBClassifier
xgb_model = XGBClassifier(eval_metric='logloss', random_state=42)
xgb_model.fit(X_train, y_train)
y_pred_xgb = xgb_model.predict(X_test)
accuracy_score(y_test, y_pred_xgb)

0.8306714608244836

In [25]:
classification_report(y_test, y_pred_xgb)

'              precision    recall  f1-score   support\n\n           0       0.84      0.96      0.90     28021\n           1       0.73      0.36      0.48      7856\n\n    accuracy                           0.83     35877\n   macro avg       0.79      0.66      0.69     35877\nweighted avg       0.82      0.83      0.81     35877\n'

In [26]:
confusion_matrix(y_test, y_pred_xgb)

array([[26962,  1059],
       [ 5016,  2840]])